.register {
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://c.neh.tw/thumb/f/720/6407053161529344.jpg");
    background-size: cover;
  }
  
  .rContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: gainsboro;
  }
  
  .rInput{
    height: 30px;
    padding: 10px;
  }
  
  .rButton {
    border: none;
    padding: 10px 20px;
    background-color: #003580;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }

  .rAccount{
    padding: 10px 20px;
    font-size: smaller;
  }
  
  .rButton:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
  }

  .rlogo{
    color: #003580;;
    font-weight: 100;
    font-size: 30px;
    font-family: "Copperplate", fantasy;
    cursor: pointer;
  }