.login {
  height: 97vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  ),
  url("https://c.neh.tw/thumb/f/720/6407053161529344.jpg");
  background-size: cover;
}

.lContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: gainsboro;
}

.lInput{
  height: 30px;
  padding: 10px;
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #003580;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.lAccount{
  padding: 10px 20px;
  font-size: smaller;
}

.lButton:disabled{
  background-color: #0071c28c;
  cursor: not-allowed;
}

.llogo{
  color: #003580;;
  font-weight: 100;
  font-size: 30px;
  font-family: "Copperplate", fantasy;
  cursor: pointer;
}